<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.twpooi.happycake">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CustomStartApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden|screenSize">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".BreadActivity"
            android:label="Contents"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tk.twpooi.happycake" />
            </intent-filter>
        </activity>


        <activity
            android:name=".BreadPopupActivity"
            android:label="Contents"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tk.twpooi.happycake" />
            </intent-filter>
        </activity>


        <activity
            android:name=".CheckPayActivity"
            android:label="Contents"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tk.twpooi.happycake" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SelectShopActivity"
            android:label="Contents"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tk.twpooi.happycake" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FinalInformation"
            android:label="Contents"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="tk.twpooi.happycake" />
            </intent-filter>
        </activity>


    </application>

</manifest>